.event_card_title {
  font-weight: 700;
  color: #212121;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  margin-bottom: 12px;

  @media (min-width: 768px) {
    font-size: 19.5px;
    line-height: 21.6px;
    margin-bottom: 15px;
  }

  @media (min-width: 1024px) {
    font-size: 21px;
    line-height: 23.2px;
    margin-bottom: 18px;
  }

  @media (min-width: 1200px) {
    font-size: 22.5px;
    line-height: 24.8px;
    margin-bottom: 21px;
  }

  @media (min-width: 1440px) {
    font-size: 24px;
    line-height: 26.4px;
    margin-bottom: 24px;
  }

  @media (min-width: 1600px) {
    font-size: 25.5px;
    line-height: 28px;
    margin-bottom: 27px;
  }
}
